<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Responses</title>
    <link href="../static//all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
	
</head>
<style>
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
</style>
<body>
    <div class="blob-container">
        <div class="blob blob1"></div>
        <div class="blob blob2"></div>
        <div class="blob blob3"></div>
    </div>
    <nav class="navbar">
        <div class="nav-content">
            <div class="logo">
         
				<img src="/static/logo.png" alt="ICCW Logo">
				<img src="/static/iitm.png" alt="IITM Logo">
				<img src="static/kumbh_mela.png" alt="kumbh_mela logo">
            </div>
            <button class="nav-toggle" id="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="nav-links">
				<a href="./">Start Survey</a>
				<a href="https://mahakumbh.iccw.world/dashboard" target="_blank"> MahaKumbh Dashboard</a>
				<a href="https://iccw.world/" target="_blank"> Our Website</a>
            </div>
        </div>
    </nav>

    <div class="container">
      <h2>Survey Responses</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Submission Date & Time</th>
                </tr>
            </thead>
            <tbody>
                {% for survey in surveys %}
                <tr>
                    <td>{{ survey.name }}</td>
                    <td>{{ survey.phone }}</td>
                    <td>{{ survey.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   

    <script src="../static/script.js"></script>

</body>
</html>
